body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* ---------- HOME PAGE ---------- */

.hero {
    height: 100vh;
    background: url("https://i.pinimg.com/736x/1c/e9/62/1ce962703099b2d8a7b8146dc423c935.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(0,0,0,0.4);
    padding: 40px;
    text-align: center;
    color: white;
    border-radius: 15px;
}

.btn-group {
    margin-top: 10px;
}

.small-btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 5px 3px;
    font-size: 12px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 6px;
}

.small-btn:hover {
    background: #ff2e55;
}

/* ---------- PRODUCTS PAGE ---------- */

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 30px;
}

.product-card {
    text-align: center;
}

.product-img {
    width: 100%;
    aspect-ratio: 1 / 1;   /* 🔥 makes it perfect square */
    object-fit: cover;
    border-radius: 10px;
}

.price {
    color: #ff4d6d;
    font-weight: bold;
}
