<!DOCTYPE html>
<html>
<head>
    <title>Shop - The Gifting Edit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<!-- Navbar -->
<div class="navbar">
    <h2>The Gifting Edit 🎁</h2>
    <a href="/">Home</a>
    <a href="/products">Shop</a>
</div>

<h1 class="heading">Shop Our Collection 💝</h1>

<!-- Product Grid -->
<div class="products-container">

    {% for product in products %}
    <div class="product-card">

        <img src="{{ product.image }}" class="product-img">

        <h3>{{ product.name }}</h3>

        <p class="price">₹{{ product.price }}</p>

    </div>
    {% endfor %}

</div>

</body>
</html>
