<!DOCTYPE html>
<html>
<head>
    <title>Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1 style="text-align:center;">Our Collection 💝</h1>

<div class="products-container">

   {% for product in products %}
<div class="product-card">

    <img src="{{ product.image }}" class="product-img">

    <h3>{{ product.name }}</h3>

    <p class="price">{{ product.price }}</p>

    <div class="btn-group">
        <a href="{{ url_for('customize') }}" class="btn small-btn">Customize</a>
    </div>

</div>
{% endfor %}

</div>

</body>
</html>
